<a href="https://colab.research.google.com/github/SWINKY360/Learn-Python/blob/main/Variables_and_Data_Types_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

In [ ]:
## This is a variable
message = "Hello world"
print(message)

Hello world

In [ ]:
#changes the variable
message = "My name is HAl" 
print(message)

My name is HAl

# Strings

In [ ]:
# A string is a series of characters 
# Anything inside quotes is considered a string in python ""
# A method is an action you can perform on a piece of data

In [ ]:
name = "ada love"
print(name.title()) #Makes string in uppercase
print(name.upper()) #
print(name.lower())

Ada Love
ADA LOVE
ada love

In [ ]:
#Combining strings
first_name = 'ada'
last_name = 'love'
full_name = first_name +" "+ last_name 
print("Hello",full_name.title()+"!")

Hello Ada Love!

In [ ]:
message = "Hello" +" " + full_name.title()
print(message)

Hello Ada Love

In [ ]:
#to add a tab \t
#to add a new line \n
print("\tpython")
print("\npython")

	python

python

In [ ]:
#remove white space use method rstrip() and lstrip() strip
name = "      Lovegood "
print(name)

      Lovegood

In [ ]:
name = name.strip()
print(name)

Lovegood

In [ ]:
quote= "The cost of a thing is the amount of what I will call life which is required to be exchanged for it, immediately or in the long run."
author= "Henry David Thoreau, Walden"
print(quote)
print(author)

The cost of a thing is the amount of what I will call life which is required to be exchanged for it, immediately or in the long run.
Henry David Thoreau, Walden

# Numbers

In [ ]:
#Basic math + - / *, 
#supports order of operations
(2+3)**4

625

In [ ]:
#floats Any number with a decimal point
age=23
message= "happy" +" " + str(age) + "rd Birthday!"
print(message)

happy 23rd Birthday!